@import '_reset';

/*
 * Thanks to 
 *  - https://pjrvs.com/
 *  - https://meowni.ca/
 *
 * For the inspiration about the design
 */

@font-face {
    font-family: 'fontello';
    src: url('/assets/fonts/fontello.eot?71874145');
    src: url('/assets/fonts/fontello.eot?71874145#iefix') format('embedded-opentype'),
         url('/assets/fonts/fontello.woff?71874145') format('woff'),
         url('/assets/fonts/fontello.ttf?71874145') format('truetype'),
         url('/assets/fonts/fontello.svg?71874145#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

@keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(50px); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes fadeInDown {
    0% { opacity: 0; transform: translateY(-50px); }
    100% { opacity: 1; transform: translateY(0); }
}

::-moz-selection, ::selection {
    background: #02a5da;
    color: #fff;
    text-shadow: none;
}


[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
  
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
  
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
  
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
}

body {
    display: flex;
    font: 400 16px/1.66 -apple-system,BlinkMacSystemFont,San Francisco,Helvetica Neue,Helvetica,Ubuntu,Roboto,Noto,Segoe UI,Arial,sans-serif;
    font-size: 16px;
    color: #454646;
    letter-spacing: -0.004em;
    padding: 80px 40px 40px 80px;
}

h1, h2, h3 {
    text-align: left;
}

h1 {
    font-size: 32px;
    letter-spacing: -0.015em;
    line-height: 1em;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.008em;
    line-height: 1em;
}

body > sidebar {
    position: fixed;
    margin-right: 80px;

    &>div {
        display: flex;
        justify-content: left;
        flex-direction: column;

        .author {
            text-align: center;

            &>a {
                text-decoration: none;
            }

            img {
                border-radius: 50%;
                width: 150px;
                height: 150px;
                text-decoration: none;
            }

            &>div {
                h2 {
                    margin: 5px 0;
                    font-weight: bold;
                    font-size: 1rem;
                    color: #444;
                    text-decoration: none;
                }
    
                &>ul {
                    margin: 0 ;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
        
                    li {
                        a {
                            color: #444;
                            text-decoration: none;
    
                            margin: 0 2px;
                            padding: 2px;
                            &>span {
                                display: none;
                            }
    
                            &:hover {
                                color: #02a5da;
                            }
                        }
    
                        .icon-mail:before { content: '\e801'; }
                        .icon-linkedin:before { content: '\e800'; }
                        .icon-twitter:before { content: '\e80d'; }
                        .icon-blog:before { content: '\e814'; }
                        .icon-github:before { content: '\e816'; }
                    }
                }
            }
        }

        nav ul {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-top: 20px;
            a {
                color: #444;
                text-decoration: none;
            
                transition: color ease-in-out 250ms;
                text-shadow: none;
                position: relative;
                display: inline-block;
                margin: 0 0 10px;
                padding: 0;

                outline: none;
                text-decoration: none;
            
                &:hover {
                    color: #02a5da;
            
                    &:after {
                        width: 100%;
                    }
                }
            
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    border-bottom: 2px solid #02a5da;
                    transition: 0.4s;
                }
            }

            li.active>a {
                color: #02a5da;
                font-weight: bold;
            }
        }
    }
}

body>main {
    max-width: 700px;
    margin-left: 220px;

    animation-duration: .25s;
    animation-fill-mode: both;
    animation-delay: .1s;
    animation-name: fadeInUp;

    a {
        color: #02a5da;
    
        transition: color ease-in-out 250ms, border-color ease-in-out 250ms;
        text-shadow: none;
        outline: none;
        text-decoration: none;
        border-bottom: solid 1px #fff;
    
        &:hover {
            color: #444;
            border-bottom-color: #444;
        }
    }
}

main .articles li {
    display: block;
    margin-bottom: 40px;

    a {
        margin: 0;
        padding: 0;
    }

    h2 {
        color: #02a5da;
        font-weight: bold;
    }

    p.excerpt {
        margin: 0;
        color: #666666;
    }
}

main>article {
    text-align: justify;

    h1 {
        padding: 0;
        position: relative;
        display: inline-block;

        &:after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -5px;
            content: '';
            width: 100%;
            border-bottom: solid 2px #02a5da;
        }
    }

    h2, h3 {
        margin: 40px 0 20px;
        position: relative;
        display: inline-block;

        &:before {
            content: '# ';
            color: #444;
        }

        &:after {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            content: '';
            width: 100%;
            border-bottom: solid 1px #02a5da;
        }
    }

    p {
        margin-bottom: 10px;

        a {
            margin: 0;
        }
    }

    .details {
        margin: 20px 0 40px;
        font-style: italic;
    }

    main>.sub {
        font-style: italic;
        padding-left: 20px;
        border-left: solid 5px #eee;
    }

    div.image {
        margin: 20px 0 40px;

        img {
            max-height: 400px;
            padding: 0;
        }

        &.image-center {
            text-align: center;
        }

        a {
            text-decoration: none;
            border: none;
        }

        &>span {
            color: #777;
            font-size: 0.85em;
            letter-spacing: 0.0425em;
        }
    }

    pre {
        margin: 20px 0 !important;

        &, code {
            width: 100%;
            max-width: 100%;
        }
    }

    &.page {
        h1 {
            margin-bottom: 40px;
        }
    }

    &>.read-next {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;

        div {
            display: block;
            &:first-child {
                text-align: left;
                margin-right: 10px;
            }

            &:last-child {
                text-align: right;
                margin-left: 10px;
            }
        }
    }
}

main .disqus-comments {
    margin-top: 60px;
}

main>section.archives {
    h2 {
        font-size: 32px;
    }

    ul {
        margin: 10px 0 40px 0;

        &>li {
            margin: 10px 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            a {
                border: none;
                margin: 0;
                padding: 0;
            }

            h3 {
                font-size: 18px;
            }

            time {
                white-space: no-wrap;
                color: #777;
                display: inline-block;
                min-width: 160px;
                text-align: right;
                align-self: flex-start;
            }
        }
    }
}

// Phones
@media all and (max-width: 767px) {
    body {
        flex-direction: column;
        padding: 40px;
    }

    body>sidebar {
        position: relative;
        margin: 0;
    
        &>div {
            display: flex;
            justify-content: left;
            flex-direction: column;
    
            .author {
                display: flex;
                justify-content: center;
                flex-direction: row;

                &>div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-left: 40px;

                    ul {
                        margin: 0 ;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                    }
                }
            }
    
            nav ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;

                margin-top: 20px;
            }
        }
    }
    
    body>main {
        margin: 60px 0 0 0;
        width: 100%;

        h1 {
            text-align: center;
            line-height: 1.5em;
        }
    }

    body>main div.image img {
        max-width: 100%;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    body>main {
        width: 100%;
    }

    body>main div.image img {
        max-width: 100%;
    }
}