{% extends 'partials/base.njk' %}

{% block content %}
    <section class="archives">
        {% for post in page.posts.toArray() %}
            {% set year = post.date|date('YYYY') %}
            {% if year != last %}
                {% set last = year %}
                </ul>
                <h2>{{ year }}</h2>
                <ul>
            {% endif %}
            <li>
                <a href="{{ url_for(post.path) }}" title="{{ post.title }}">
                    <h3>{{ post.title | replace('<br />', ' ') | striptags }}</h3>
                </a>
                <time datetime="{{ post.date.format() }}">{{ post.date.format('MMMM DD, YYYY').replace(' ', '&nbsp;') }}</time>
            </li>
        {% endfor %}

        {% if page.prev or page.next %}
        <ul class="pagination">
            {% if page.prev %}
            <li>
                <a href="{{ url_for('/' + config.pagination_dir + '/' + page.prev if page.prev > 1 else '/') }}" title="View older posts →">Recent posts →</a>
            </li>
            {% endif %}
            {% if page.next %}
            <li>
                <a href="{{ url_for('/' + config.pagination_dir + '/' + page.next) }}" title="← Back to latest posts">← View older posts</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </section>
{% endblock %}