{% extends 'partials/base.njk' %}

{% block content %}
<article class="article" itemscope itemtype="http://schema.org/BlogPosting">
    <link itemprop="mainEntityOfPage" href="{{ page.permalink if page.permalink else config.url }}" />
    <meta itemprop="inLanguage" content="en" />
    <h1 itemprop="headline name">{{ page.title }}</h1>
    <div class="details">
        <span itemscope itemtype="http://schema.org/Person" itemprop="author">
        Written on
        <span><time datetime="{{ date_xml(page.date) }}" itemprop="dateCreated datePublished dateModified">{{ full_date(page.date, "MMM D, YYYY") }}</time></span>
         - 
        <span class="reading-time" itemprop="timeRequired">{{ readingTime(page.content, 'min read') }}</span>
    </div>
    <main itemprop="articleBody">
        {% if in_category(page.categories.first(), 'case-study') %}
        <p class="sub">
            Every week, I write about a product that appeared on ProductHunt and share my thoughts.
            I am not affiliated with {{ page.product_name if page.product_name else "the service" }} and the content of the post here are my points of view uniquely.
            The idea is to give some feedback and hopefully share some valuables tips on how to grow a business.
        </p>
        {% endif %}

        {{ page.content }}

        {% if in_category(page.categories.first(), 'case-study') %}
        <p class="conclusion">
            What did you think? Do you agree or not at all? Share your thoughts on the comments 🙂<br />
            <small>(This review is my advice on {{ page.product_name if page.product_name else "the service" }} and mine only. It might not be correct or justified to implement them.)</small>
        </>
        {% endif %}
    </main>
    <div class="read-next">
        <div class="previous">
            {% if page.next %}
            <a href="{{ url_for(page.next.path) }}" alt="Read my next article: {{ page.next.title }}">←&nbsp;{{ page.next.title }}</a>
            {% endif %}
        </div>
        <div class="next">
            {% if page.prev %}
            <a href="{{ url_for(page.prev.path) }}" alt="Read my prev article: {{ page.prev.title }}">{{ page.prev.title }}&nbsp;→</a>
            {% endif %}
        </div>
    </div>
</article>

{% if page.comments and theme.disqus %}
<div class="disqus-comments" itemprop="comment">
    <div class="comments">
        <div id="disqus_thread"></div>
    </div>
</div>
<script>
    var disqus_config = function () {
        this.page.url = '{{ page.permalink }}';
        this.page.identifier = '{{ page._id }}';
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://cnicodeme.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
{% endif %}
{% endblock %}