<!doctype html>
<html lang=en>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        {% if theme.favicon %}<link rel="icon" href="{{ url_for(theme.favicon) }}">{% endif %}
        <title itemprop="name">{{ (page.title  + " - " + config.title) if page.title else config.title }}</title>
        {% if page.excerpt %}
        <meta name="description" itemprop="description" content="{{ page.excerpt | striptags }}">
        {% elif page.description %}
        <meta name="description" itemprop="description" content="{{ page.description }}">
        {% elif config.description %}
        <meta name="description" itemprop="description" content="{{ config.description }}">
        {% endif %}
        <meta name="author" itemprop="author" content="{{ config.author }}">
        {% if page.keywords or config.keywords %}<meta name="keywords" content="{{ (page.keywords + "," + config.keywords) if page.keywords else config.keywords }}">{% endif %}
        <link rel="alternate" type="application/rss+xml" title="{{ config.title }}" href="{{ url_for(theme.feed) }}" />
        {% if is_post() %}<link rel="canonical" href="{{ page.permalink }}" />{% endif %}
{% include './head/facebook.njk' %}
{% include './head/twitter.njk' %}

        {% for font in theme.googlefonts %}<link href="https://fonts.googleapis.com/css?family={{ font }}" rel="stylesheet">
        {% endfor %}
        <link rel="stylesheet" href="{{ url_for('/assets/styles/general.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.css" integrity="sha256-cKiyvRKpm8RaTdU71Oq2RUVgvfWrdIXjvVdQF2oZ1Y4=" crossorigin="anonymous" />
        {% include './head/google-analytics.njk' %}
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        <sidebar>
            <div itemscope itemtype="http://schema.org/Person">
                <div class="author">
                    <a href="/" title="Go to the home page">
                        {{ image_tag('https://www.gravatar.com/avatar/27dd30e7355a2f2740b636da145c4903?s=256', {alt: "Cyril Nicodeme's avatar", itemprop: 'image'}) }}
                    </a>
                    <div>
                        <h2 itemprop="name">Cyril Nicodeme</h2>
                        <ul>
                            {% if theme.socials.email %}<li><a href="mailto:{{ theme.socials.email }}" title="Contact me!" class="icon-mail" target="_blank"><span>Email</span></a>{% endif %}
                            {% if theme.socials.github %}<li><a href="https://github.com/{{ theme.socials.github }}" title="View my Github profile" class="icon-github" target="_blank"><span>Github</span></a>{% endif %}
                            {% if theme.socials.twitter %}<li><a href="https://twitter.com/{{ theme.socials.twitter }}" title="View my Twitter profile" class="icon-twitter" target="_blank"><span>Twitter</span></a>{% endif %}
                            {% if theme.socials.linkedin %}<li><a href="https://linkedin.com/{{ theme.socials.linkedin }}" title="View my LinkedIn profile" class="icon-linkedin" target="_blank"><span>LinkedIn</span></a>{% endif %}
                        </ul>
                    </div>
                </div>
                <nav>
                    <ul itemscope itemtype="http://schema.org/SiteNavigationElement">
                        {% for name, url in theme.menu %}
                        <li{% if '/' + page.current_url == url %} class="active"{% endif %}><a href="{{ url }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </sidebar>
        <main>
            {% block content %}{% endblock %}
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.0/baguetteBox.min.js" integrity="sha256-yQGjQhFs3LtyiN5hhr3k9s9TWZOh/RzCkD3gwwCKlkg=" crossorigin="anonymous"></script>
        <script>baguetteBox.run('main>article', {
            captions: function(element) {
                var span = element.parentNode.getElementsByTagName('span');
                if (span.length === 1) {
                    console.log(span[0].innerText)
                    return span[0].innerText;
                } else {
                    return element.getElementsByTagName('img')[0].alt;
                }
            }
        });</script>
    </body>
</html>